<form>
<%= form_with(model: evidence) do |form| %>
  <% if evidence.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(evidence.errors.count, "error") %> prohibited this evidence from being saved:</h2>

      <ul>
        <% evidence.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :order, style: "display: block" %>
    <%= form.text_field :order, class: "form-control"%>
  </div>

  <%# <div> %>
    <%# <%= form.label :status, style: "display: block" %>
    <%# <%= form.number_field :status %>
  <%# </div> %>

  <div class="form-group">
    <%= form.label :distributor, style: "display: block" %>
    <%= form.text_field :distributor, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: "form-control"%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
</form>
